[Unit]
Description=Best service on earth

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/workspace/button-soundboard/
ExecStart=/home/pi/workspace/button-soundboard/button_soundboard.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
