[Unit]
Description=Best service on earth

[Service]
User=pi
Type=simple
WorkingDirectory=/home/pi/workspace/button-soundboard/
ExecStart=/home/pi/workspace/button-soundboard/button_soundboard.py /home/pi/workspace/button-soundboard/sounds/kaamelott/kaamelott.json /home/pi/workspace/button-soundboard/sounds/dikkenek/dikkenek.json /home/pi/workspace/button-soundboard/sounds/oss117/oss117.json /home/pi/workspace/button-soundboard/sounds/la_classe_americaine/la_classe_americaine.json
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
